{% extends 'base.html' %}
{% block main %}
<div class="page-wrap"> 
    <div class="contents">
      <br>
        <section class="content">

            <div class="d-flex justify-content-center">
                <div class="box">
                    <h1 class="home-main-title">Welcome to my Website!</h1>
                    
                    <h3 style="text-align: center;">Explanation</h3>
                    <br>

                    <h3 style="color: rgb(110, 14, 14);">Go to Visualizations</h3>
                    <p></p>

                        <h3>Visualizations available above/h3>
                        <br>

                    <h3 style="color: rgb(110, 14, 14);">As a Player:</h3>
                    <p></p>

                        <h3>Bla</h3>
                        <br>

                    <h3 style="text-align: center;">Thanks for visiting!</h3>

                </div>
            </div>
        </section>
    </div>
  </div>
{% endblock %}
