{% extends 'base.html' %}
{% block main %}
<div class="page-wrap"> 
    <div class="contents">
      <br>
        <section class="content">

            <div class="d-flex justify-content-center">
                <div class="box">
                    <h1 class="home-main-title">Welcome to my Website!</h1>
                    
                    <h3 style="text-align: center;">Explanation</h3>
                    <br>

                    <h3 style="color: rgb(110, 14, 14);">Bla</h3>
                    <p></p>

                        <h3>After creating an account, head to the "Create New Campaign" button above.</h3>
                        <h3>Enter a unique campaign ID, a name for your epic adventure, where it all began, and the user IDs of the players in your campaign separated by spaces.</h3>
                        <h3>Once created, you'll be able to add characters for both your players and the NPCs in your campaign.</h3>
                        <h3>You can also keep notes on the campaign page - for your eyes only.</h3>
                        <br>

                    <h3 style="color: rgb(110, 14, 14);">As a Player:</h3>
                    <p></p>

                        <h3>After creating an account, head to the "My Campaigns" button above to see every campaign you're a part of.</h3>
                        <h3>Been a while since last session, and can't quite remember who that one guy was? Read up on characters before your next brawl!</h3>
                        <h3>The "Sessions" tab within a campaign lets you read up on what happened previously.
                            You can save your GM some work and create Session notes yourself to share with your party.
                        </h3>
                        <br>

                    <h3 style="text-align: center;">May the dice gods be in your favor!</h3>

                </div>
            </div>
        </section>
    </div>
  </div>
{% endblock %}
